.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background: white;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  line-height: 29.05px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}

.card__like-button {
  background: transparent url("../images/like-button2.svg") center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
}

.card__like-button:hover {
  opacity: 50%;
}
